<a href="https://colab.research.google.com/github/Ingenjoy/Recommendation/blob/master/Day1/DAY01_01_Similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **파이썬 실습 - 유클리디안 거리**

 1) scipy 모듈 사용 시

In [0]:
from scipy.spatial import distance
D1 = (3,2,0,2)
D2 = (1,2,3,0)
D3 = (2,2,2,2)
Q = (1,5,0,0)

dist_D1_Q = distance.euclidean(D1,Q)
dist_D2_Q = distance.euclidean(D2,Q)
dist_D3_Q = distance.euclidean(D3,Q)

print("D1-Q : " + str(dist_D1_Q))
print("D2-Q : " + str(dist_D2_Q))
print("D3-Q : " + str(dist_D3_Q))

D1-Q : 4.123105625617661
D2-Q : 4.242640687119285
D3-Q : 4.242640687119285

2) numpy 모듈 사용 시

In [0]:
import numpy as np
def dist(x, y):
  return np.sqrt(np.sum((x-y)**2))

D1 = np.array((3,2,0,2))
D2 = np.array((1,2,3,0))
D3 = np.array((2,2,2,2))
Q = np.array((1,5,0,0))


dist_D1_Q = dist(D1,Q)
dist_D2_Q = dist(D2,Q)
dist_D3_Q = dist(D3,Q)

print("D1-Q : " + str(dist_D1_Q))
print("D2-Q : " + str(dist_D2_Q))
print("D3-Q : " + str(dist_D3_Q))

D1-Q : 4.123105625617661
D2-Q : 4.242640687119285
D3-Q : 4.242640687119285

# **파이썬 실습 - 피어슨 상관계수**

1) 문제 1

In [0]:
import pandas as pd

data_dict = {'지각': [1, 2, 3, 4, 5],
'판매수': [8, 7, 6, 4, 5]}
df = pd.DataFrame(data_dict)

In [0]:
df

   지각  판매수
0   1    8
1   2    7
2   3    6
3   4    4
4   5    5

In [0]:
re = df.corr(method = 'pearson')
print(re)

      지각  판매수
지각   1.0 -0.9
판매수 -0.9  1.0

2) 문제 2

In [0]:
import pandas as pd

data_dict = {'교육받은 횟수': [1, 3, 5, 7],
             '생산량': [35, 45, 35, 45]}
df = pd.DataFrame(data_dict)

In [0]:
df

   교육받은 횟수  생산량
0        1   35
1        3   45
2        5   35
3        7   45

In [0]:
re = df.corr(method = 'pearson')
print(re)

          교육받은 횟수       생산량
교육받은 횟수  1.000000  0.447214
생산량      0.447214  1.000000

# **cosine simiarity**

1) 방법 1

In [0]:
from scipy import spatial

dataSet1 = [1, 2, 3, 4, 5]
dataSet2 = [6, 7, 8, 9, 10]

result = 1 - spatial.distance.cosine(dataSet1, dataSet2)

print(result)

0.9649505047327671

2) 방법 2

In [0]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity([[1,2,3,4,5]], [[6,7,8,9,10]])

array([[0.9649505]])

3) 방법3

In [0]:
import math
def cosine_similarity(v1, v2):
  sumxx, sumxy, sumyy = 0,0,0
  for i in range(len(v1)):
    x = v1[i]
    y = v2[i]
    sumxx += x*x
    sumyy += y*y
    sumxy += x*y
    return sumxy / math.sqrt(sumxx * sumyy)
  
v1, v2 = [1,2,3,4,5],[6,7,8,9,10]

print(v1, v2, cosine_similarity(v1, v2))

([1, 2, 3, 4, 5], [6, 7, 8, 9, 10], 1.0)

4) 방법4

In [0]:
from numpy import dot
from numpy.linalg import norm
a, b = [1,2,3,4,5],[6,7,8,9,10]
cosine_sim = dot(a,b) / (norm(a) * norm(b))
print(cosine_sim)

0.9649505047327671

# **Jaccard similarity**

1) 방법 1

In [0]:
# 방법 1
import numpy as np
from sklearn.metrics import jaccard_score

Person_A = [1, 0, 1, 1, 1, 0, 1, 1]
Person_B = [0, 1, 1, 1, 0, 1, 0, 1]

jaccard_score(Person_A  , Person_B)

0.375

2) 방법 2

In [0]:
def jaccard(a,b):
  c = a.intersection(b)
  return float(len(c)) / (len(a) + len(b) - len(c))
  
Person_A = ['전산', '개발', 'C언어', '자바', '스칼라', '하둡']
Person_B = ['석사', '개발', 'C언어', '파이썬', '하둡']

Person_A_set = set(Person_A)
Person_B_set = set(Person_B)

jaccard(Person_A_set, Person_B_set)

0.375

3) 방법 3

In [0]:
import numpy as np

def jaccard(a,b):
  c = a==b
  return float(sum(c)/len(a))

Person_A=np.array([1,0,1,1,1,0,1,1])
Person_B=np.array([0,1,1,1,0,1,0,1])

jaccard(Person_A, Person_B)

0.375

## **켄달 타우 상계계수**

In [0]:
import pandas as pd

data_dict = {'교육받은 횟수': [1, 3, 5, 7],
             '생산량': [35, 45, 35, 45]}

df = pd.DataFrame(data_dict)

df

   교육받은 횟수  생산량
0        1   35
1        3   45
2        5   35
3        7   45

In [0]:
re = df.corr(method = 'kendall')
print(re)

          교육받은 횟수       생산량
교육받은 횟수  1.000000  0.408248
생산량      0.408248  1.000000

In [0]:
re = df.corr(method = 'pearson')
print(re)

          교육받은 횟수       생산량
교육받은 횟수  1.000000  0.447214
생산량      0.447214  1.000000

In [0]:
re = df.corr(method = 'spearman')
print(re)

          교육받은 횟수       생산량
교육받은 횟수  1.000000  0.447214
생산량      0.447214  1.000000