<a href="https://colab.research.google.com/github/Ingenjoy/Recommendation-System/blob/master/wide_and_deep_%EC%83%81%EC%84%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

from keras.models import Sequential, Model
from keras.layers import Input, Dense, concatenate
from keras.optimizers import Adam
import easydict


# feature로 이용할 컬럼 정의
COLUMNS = ["age", "workclass", "fnlwgt", "education", "education_num", "marital_status",
          "occupation", "relationship", "race", "gender", "capital_gain", "capital_loss", "hours_per_week", "native_country", "income_bracket"]
# ?          
LABEL_COLUMN = "label"
# 범주형 Feature
CATEGORICAL_COLUMNS = ["workclass", "education", "marital_status", "occupation", "relationship", "race", "gender", "native_country"]
# 숫자형 Feature
NUMERICAL_COLUMNS = ["age", "education_num", "capital_gain", "capital_loss", "hours_per_week"]

In [0]:
# wide 모델
class Wide:
    def __init__(self, args):
        self.learning_rate = args.learning_rate
        self.epochs = args.epochs
        self.batch_size = args.batch_size
        self.input_dim = args.input_dim
        self.model = self.classifier()

    def classifier(self):
        model = Sequential()
        model.add(Dense(1, activation='sigmoid', input_dim=self.input_dim))
        optimizer = Adam(lr=self.learning_rate, beta_1=0.9, beta_2=0.999)
        model.compile(loss='binary_crossentropy',
                      optimizer=optimizer,
                      metrics=['accuracy'])
        return model

    def fit(self, x, y):
      # validation_split : validation set 20%
        self.model.fit(x, y, epochs=self.epochs, batch_size=self.batch_size, validation_split=0.2)

    def print_performance(self, x, y):
        performance_test = self.model.evaluate(x, y, batch_size=self.batch_size)
        print('Test Loss and Accuracy ->', performance_test)

In [0]:
# Deeo 모델
class Deep:
    def __init__(self, args):
        self.learning_rate = args.learning_rate
        self.epochs = args.epochs
        self.batch_size = args.batch_size
        self.input_dim = args.input_dim
        self.model = self.classifier()

    def classifier(self):
        model = Sequential()
        model.add(Dense(100, activation='relu', input_dim=self.input_dim))
        model.add(Dense(50, activation='relu'))
        model.add(Dense(1, activation='sigmoid'))

        optimizer = Adam(lr=self.learning_rate, beta_1=0.9, beta_2=0.999)
        model.compile(loss='binary_crossentropy',
                      optimizer=optimizer,
                      metrics=['accuracy'])
        return model

    def fit(self, x, y):
        self.model.fit(x, y, epochs=self.epochs, batch_size=self.batch_size, validation_split=0.2)

    def print_performance(self, x, y):
        performance_test = self.model.evaluate(x, y, batch_size=self.batch_size)
        print('Test Loss and Accuracy ->', performance_test)

In [0]:
class WideAndDeep:
    def __init__(self, args):
        self.learning_rate = args.learning_rate
        self.epochs = args.epochs
        self.batch_size = args.batch_size
        self.input_dim = args.input_dim
        self.model = self.classifier()

    def classifier(self):
        optimizer = Adam(lr=self.learning_rate, beta_1=0.9, beta_2=0.999)

        # wide part
        wide = Input(shape=(self.input_dim,))

        # deep part
        deep_input = Input(shape=(self.input_dim,))
        deep = Dense(100, activation='relu')(deep_input)
        deep = Dense(50, activation='relu')(deep)

        # concatenate : wide and deep
        wide_n_deep = concatenate([wide, deep])
        wide_n_deep = Dense(1, activation='sigmoid')(wide_n_deep)
        model = Model(inputs=[wide, deep_input], outputs=wide_n_deep)
        model.compile(loss='binary_crossentropy',
                      optimizer=optimizer,
                      metrics=['accuracy'])
        return model

    def fit(self, wide_x, deep_x, y):
        self.model.fit([wide_x, deep_x], y, epochs=self.epochs, batch_size=self.batch_size, validation_split=0.2)

    def print_performance(self, wide_x, deep_x, y):
        performance_test = self.model.evaluate([wide_x, deep_x], y, batch_size=self.batch_size)
        print('Test Loss and Accuracy ->', performance_test)

In [0]:
def main(model_param):
    # prepare dataset
    df_train = pd.read_csv('http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.data',
                           header=None,
                           names=COLUMNS,
                           skipinitialspace=True)
    df_test = pd.read_csv('http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.test',
                          header=None,
                          names=COLUMNS,
                          skipinitialspace=True,
                          skiprows=1)
    df = pd.concat([df_train, df_test])
    df[LABEL_COLUMN] = df['income_bracket'].apply(lambda x: ">50K" in x).astype(int)
    y = df[LABEL_COLUMN].values
    df.pop(LABEL_COLUMN)
    df.pop("income_bracket")
    df = pd.get_dummies(df, columns=[x for x in CATEGORICAL_COLUMNS])
    df = pd.DataFrame(MinMaxScaler().fit_transform(df), columns=df.columns)
    x = df.values

    # split train, test
    train_length = len(df_train)
    x_train = x[:train_length]
    y_train = y[:train_length]
    x_test = x[train_length:]
    y_test = y[train_length:]

    args = easydict.EasyDict({
        "batch_size": 500,
        "epochs": 30,
        "learning_rate": 0.001,
        "input_dim": x_train.shape[1]
    })

    if model_param == "deep":
        deep = Deep(args)
        deep.fit(x_train, y_train)
        deep.print_performance(x_test, y_test)
    elif model_param == 'wide':
        wide = Wide(args)
        wide.fit(x_train, y_train)
        wide.print_performance(x_test, y_test)
    else:
        wide_n_deep = WideAndDeep(args)
        wide_n_deep.fit(x_train, x_train, y_train)
        wide_n_deep.print_performance(x_test, x_test, y_test)

        # prediction for individual
        x_predict_test = x_test[np.newaxis, 0, :]
        y_predict_test = y_test[0]
        result = wide_n_deep.model.predict([x_predict_test, x_predict_test])
        print('result predicted:', result[0][0])
        print('result predicted:', round(result[0][0]))
        print('result real:', y_predict_test)

In [0]:
if __name__ == '__main__':
    main('deep')

    # score (test loss and acc)
    # 1. wide : [0.34640224496809097, 0.8394447512213981]
    # 2. deep : [0.3533135050656381, 0.8403660668860226]
    # 3. wide and deep : [0.352460421507851, 0.8432528705885703]

In [0]:
if __name__ == '__main__':
    main('wide')

    # score (test loss and acc)
    # 1. wide : [0.34640224496809097, 0.8394447512213981]
    # 2. deep : [0.3533135050656381, 0.8403660668860226]
    # 3. wide and deep : [0.352460421507851, 0.8432528705885703]

In [0]:
if __name__ == '__main__':
    main('widendeep')

    # score (test loss and acc)
    # 1. wide : [0.34640224496809097, 0.8394447512213981]
    # 2. deep : [0.3533135050656381, 0.8403660668860226]
    # 3. wide and deep : [0.352460421507851, 0.8432528705885703]

In [0]:
  # prepare dataset
  df_train = pd.read_csv('http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.data',
                          header=None,
                          names=COLUMNS,
                          skipinitialspace=True)
  df_test = pd.read_csv('http://mlr.cs.umass.edu/ml/machine-learning-databases/adult/adult.test',
                        header=None,
                        names=COLUMNS,
                        skipinitialspace=True,
                        skiprows=1)
  df = pd.concat([df_train, df_test])

In [0]:
print("train : "+str(df_train.shape))
print("test : "+str(df_test.shape))
print("train+test : "+str(df.shape))

train : (32561, 15)
test : (16281, 15)
train+test : (48842, 15)

In [0]:
df[LABEL_COLUMN] = df['income_bracket'].apply(lambda x: ">50K" in x).astype(int)

In [0]:
df.shape

(48842, 16)

In [0]:
df[:10]

   age         workclass  fnlwgt  ... native_country  income_bracket label
0   39         State-gov   77516  ...  United-States           <=50K     0
1   50  Self-emp-not-inc   83311  ...  United-States           <=50K     0
2   38           Private  215646  ...  United-States           <=50K     0
3   53           Private  234721  ...  United-States           <=50K     0
4   28           Private  338409  ...           Cuba           <=50K     0
5   37           Private  284582  ...  United-States           <=50K     0
6   49           Private  160187  ...        Jamaica           <=50K     0
7   52  Self-emp-not-inc  209642  ...  United-States            >50K     1
8   31           Private   45781  ...  United-States            >50K     1
9   42           Private  159449  ...  United-States            >50K     1

[10 rows x 16 columns]

In [0]:
# 정답을 y 에 입력
# label, income_bracket 컬럼 삭제
y = df[LABEL_COLUMN].values
df.pop(LABEL_COLUMN)
df.pop("income_bracket")

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
16276    <=50K.
16277    <=50K.
16278    <=50K.
16279    <=50K.
16280     >50K.
Name: income_bracket, Length: 48842, dtype: object

In [0]:
# categorical 컬럼을 dummy 변수로 변환
df = pd.get_dummies(df, columns=[x for x in CATEGORICAL_COLUMNS])

In [0]:
df.shape

(48842, 108)

In [0]:
df[:10]

   age  fnlwgt  ...  native_country_Vietnam  native_country_Yugoslavia
0   39   77516  ...                       0                          0
1   50   83311  ...                       0                          0
2   38  215646  ...                       0                          0
3   53  234721  ...                       0                          0
4   28  338409  ...                       0                          0
5   37  284582  ...                       0                          0
6   49  160187  ...                       0                          0
7   52  209642  ...                       0                          0
8   31   45781  ...                       0                          0
9   42  159449  ...                       0                          0

[10 rows x 108 columns]

In [0]:
# 데이터를 0~1로 스케일링
df = pd.DataFrame(MinMaxScaler().fit_transform(df), columns=df.columns)

In [0]:
df[:10]

        age    fnlwgt  ...  native_country_Vietnam  native_country_Yugoslavia
0  0.301370  0.044131  ...                     0.0                        0.0
1  0.452055  0.048052  ...                     0.0                        0.0
2  0.287671  0.137581  ...                     0.0                        0.0
3  0.493151  0.150486  ...                     0.0                        0.0
4  0.150685  0.220635  ...                     0.0                        0.0
5  0.273973  0.184219  ...                     0.0                        0.0
6  0.438356  0.100061  ...                     0.0                        0.0
7  0.479452  0.133519  ...                     0.0                        0.0
8  0.191781  0.022661  ...                     0.0                        0.0
9  0.342466  0.099562  ...                     0.0                        0.0

[10 rows x 108 columns]

In [0]:
x = df.values
x

array([[0.30136986, 0.04413121, 0.8       , ..., 1.        , 0.        ,
        0.        ],
       [0.45205479, 0.04805174, 0.8       , ..., 1.        , 0.        ,
        0.        ],
       [0.28767123, 0.13758131, 0.53333333, ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.28767123, 0.24537874, 0.8       , ..., 1.        , 0.        ,
        0.        ],
       [0.36986301, 0.04844413, 0.8       , ..., 1.        , 0.        ,
        0.        ],
       [0.24657534, 0.11491866, 0.8       , ..., 1.        , 0.        ,
        0.        ]])

In [0]:
x.shape

(48842, 108)

In [0]:
type(x)

numpy.ndarray

In [0]:
  # split train, test
  train_length = len(df_train)
  x_train = x[:train_length]
  y_train = y[:train_length]
  x_test = x[train_length:]
  y_test = y[train_length:]

In [0]:
  args = easydict.EasyDict({
    "batch_size": 500,
    "epochs": 30,
    "learning_rate": 0.001,
    "input_dim": x_train.shape[1]
  })

In [0]:
wide = Wide(args)
wide.fit(x_train, y_train)
wide.print_performance(x_test, y_test)

Train on 26048 samples, validate on 6513 samples
Epoch 1/30
26048/26048 [==============================] - 0s 7us/step - loss: 0.5407 - accuracy: 0.7544 - val_loss: 0.5190 - val_accuracy: 0.7530
Epoch 2/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.4997 - accuracy: 0.7592 - val_loss: 0.4883 - val_accuracy: 0.7556
Epoch 3/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.4736 - accuracy: 0.7637 - val_loss: 0.4659 - val_accuracy: 0.7606
Epoch 4/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.4539 - accuracy: 0.7731 - val_loss: 0.4482 - val_accuracy: 0.7803
Epoch 5/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.4384 - accuracy: 0.7948 - val_loss: 0.4343 - val_accuracy: 0.8032
Epoch 6/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.4261 - accuracy: 0.8095 - val_loss: 0.4232 - val_accuracy: 0.8119
Epoch 7/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.4163 - accuracy: 0.8136 - val_loss: 0.4142 - val_accuracy: 0.8165
Epoch 8/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.4083 - accuracy: 0.8199 - val_loss: 0.4068 - val_accuracy: 0.8187
Epoch 9/30
26048/26048 [==============================] - 0s 4us/step - loss: 0.4017 - accuracy: 0.8231 - val_loss: 0.4005 - val_accuracy: 0.8222
Epoch 10/30
26048/26048 [==============================] - 0s 4us/step - loss: 0.3961 - accuracy: 0.8250 - val_loss: 0.3953 - val_accuracy: 0.8245
Epoch 11/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3914 - accuracy: 0.8264 - val_loss: 0.3908 - val_accuracy: 0.8251
Epoch 12/30
26048/26048 [==============================] - 0s 4us/step - loss: 0.3874 - accuracy: 0.8272 - val_loss: 0.3869 - val_accuracy: 0.8250
Epoch 13/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3839 - accuracy: 0.8277 - val_loss: 0.3836 - val_accuracy: 0.8259
Epoch 14/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3809 - accuracy: 0.8292 - val_loss: 0.3806 - val_accuracy: 0.8265
Epoch 15/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3782 - accuracy: 0.8300 - val_loss: 0.3779 - val_accuracy: 0.8274
Epoch 16/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3758 - accuracy: 0.8307 - val_loss: 0.3756 - val_accuracy: 0.8276
Epoch 17/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3737 - accuracy: 0.8312 - val_loss: 0.3734 - val_accuracy: 0.8296
Epoch 18/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3718 - accuracy: 0.8311 - val_loss: 0.3715 - val_accuracy: 0.8302
Epoch 19/30
26048/26048 [==============================] - 0s 4us/step - loss: 0.3700 - accuracy: 0.8316 - val_loss: 0.3698 - val_accuracy: 0.8314
Epoch 20/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3684 - accuracy: 0.8323 - val_loss: 0.3681 - val_accuracy: 0.8322
Epoch 21/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3668 - accuracy: 0.8325 - val_loss: 0.3666 - val_accuracy: 0.8320
Epoch 22/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3655 - accuracy: 0.8327 - val_loss: 0.3652 - val_accuracy: 0.8323
Epoch 23/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3642 - accuracy: 0.8335 - val_loss: 0.3639 - val_accuracy: 0.8333
Epoch 24/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3630 - accuracy: 0.8339 - val_loss: 0.3627 - val_accuracy: 0.8331
Epoch 25/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3619 - accuracy: 0.8340 - val_loss: 0.3615 - val_accuracy: 0.8326
Epoch 26/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3609 - accuracy: 0.8345 - val_loss: 0.3604 - val_accuracy: 0.8329
Epoch 27/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3599 - accuracy: 0.8352 - val_loss: 0.3595 - val_accuracy: 0.8329
Epoch 28/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3590 - accuracy: 0.8356 - val_loss: 0.3585 - val_accuracy: 0.8336
Epoch 29/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3581 - accuracy: 0.8354 - val_loss: 0.3577 - val_accuracy: 0.8336
Epoch 30/30
26048/26048 [==============================] - 0s 5us/step - loss: 0.3573 - accuracy: 0.8355 - val_loss: 0.3568 - val_accuracy: 0.8340
16281/16281 [==============================] - 0s 2us/step
Test Loss and Accuracy -> [0.35388069793396165, 0.8363122940063477]

In [0]:
deep = Deep(args)
deep.fit(x_train, y_train)
deep.print_performance(x_test, y_test)

Train on 26048 samples, validate on 6513 samples
Epoch 1/30
26048/26048 [==============================] - 0s 13us/step - loss: 0.4567 - accuracy: 0.7848 - val_loss: 0.3759 - val_accuracy: 0.8260
Epoch 2/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3593 - accuracy: 0.8336 - val_loss: 0.3508 - val_accuracy: 0.8345
Epoch 3/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.3468 - accuracy: 0.8392 - val_loss: 0.3469 - val_accuracy: 0.8363
Epoch 4/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.3385 - accuracy: 0.8421 - val_loss: 0.3375 - val_accuracy: 0.8406
Epoch 5/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3322 - accuracy: 0.8444 - val_loss: 0.3324 - val_accuracy: 0.8449
Epoch 6/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3270 - accuracy: 0.8477 - val_loss: 0.3309 - val_accuracy: 0.8466
Epoch 7/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.3242 - accuracy: 0.8512 - val_loss: 0.3275 - val_accuracy: 0.8454
Epoch 8/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.3221 - accuracy: 0.8504 - val_loss: 0.3256 - val_accuracy: 0.8481
Epoch 9/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3179 - accuracy: 0.8524 - val_loss: 0.3249 - val_accuracy: 0.8498
Epoch 10/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.3136 - accuracy: 0.8541 - val_loss: 0.3228 - val_accuracy: 0.8485
Epoch 11/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3107 - accuracy: 0.8544 - val_loss: 0.3229 - val_accuracy: 0.8443
Epoch 12/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3108 - accuracy: 0.8563 - val_loss: 0.3214 - val_accuracy: 0.8466
Epoch 13/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3055 - accuracy: 0.8586 - val_loss: 0.3205 - val_accuracy: 0.8492
Epoch 14/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3038 - accuracy: 0.8581 - val_loss: 0.3214 - val_accuracy: 0.8446
Epoch 15/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.3019 - accuracy: 0.8593 - val_loss: 0.3191 - val_accuracy: 0.8480
Epoch 16/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2993 - accuracy: 0.8597 - val_loss: 0.3273 - val_accuracy: 0.8472
Epoch 17/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.3021 - accuracy: 0.8573 - val_loss: 0.3184 - val_accuracy: 0.8492
Epoch 18/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2946 - accuracy: 0.8634 - val_loss: 0.3189 - val_accuracy: 0.8495
Epoch 19/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.2929 - accuracy: 0.8641 - val_loss: 0.3196 - val_accuracy: 0.8477
Epoch 20/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2934 - accuracy: 0.8649 - val_loss: 0.3191 - val_accuracy: 0.8511
Epoch 21/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2908 - accuracy: 0.8644 - val_loss: 0.3192 - val_accuracy: 0.8495
Epoch 22/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2902 - accuracy: 0.8651 - val_loss: 0.3243 - val_accuracy: 0.8480
Epoch 23/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2887 - accuracy: 0.8681 - val_loss: 0.3237 - val_accuracy: 0.8503
Epoch 24/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.2880 - accuracy: 0.8655 - val_loss: 0.3248 - val_accuracy: 0.8491
Epoch 25/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2866 - accuracy: 0.8675 - val_loss: 0.3260 - val_accuracy: 0.8483
Epoch 26/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2859 - accuracy: 0.8679 - val_loss: 0.3248 - val_accuracy: 0.8495
Epoch 27/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.2827 - accuracy: 0.8675 - val_loss: 0.3236 - val_accuracy: 0.8475
Epoch 28/30
26048/26048 [==============================] - 0s 9us/step - loss: 0.2828 - accuracy: 0.8672 - val_loss: 0.3216 - val_accuracy: 0.8503
Epoch 29/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2811 - accuracy: 0.8700 - val_loss: 0.3236 - val_accuracy: 0.8497
Epoch 30/30
26048/26048 [==============================] - 0s 8us/step - loss: 0.2809 - accuracy: 0.8698 - val_loss: 0.3358 - val_accuracy: 0.8463
16281/16281 [==============================] - 0s 3us/step
Test Loss and Accuracy -> [0.339699362452409, 0.8465082049369812]

In [0]:
wide_n_deep = WideAndDeep(args)
wide_n_deep.fit(x_train, x_train, y_train)
wide_n_deep.print_performance(x_test, x_test, y_test)

Train on 26048 samples, validate on 6513 samples
Epoch 1/30
26048/26048 [==============================] - 0s 14us/step - loss: 0.5013 - accuracy: 0.7585 - val_loss: 0.3885 - val_accuracy: 0.8250
Epoch 2/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3649 - accuracy: 0.8310 - val_loss: 0.3527 - val_accuracy: 0.8369
Epoch 3/30
26048/26048 [==============================] - 0s 11us/step - loss: 0.3469 - accuracy: 0.8372 - val_loss: 0.3419 - val_accuracy: 0.8415
Epoch 4/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3394 - accuracy: 0.8406 - val_loss: 0.3365 - val_accuracy: 0.8439
Epoch 5/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3342 - accuracy: 0.8431 - val_loss: 0.3332 - val_accuracy: 0.8466
Epoch 6/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3292 - accuracy: 0.8459 - val_loss: 0.3306 - val_accuracy: 0.8440
Epoch 7/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3254 - accuracy: 0.8482 - val_loss: 0.3275 - val_accuracy: 0.8469
Epoch 8/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3230 - accuracy: 0.8473 - val_loss: 0.3274 - val_accuracy: 0.8445
Epoch 9/30
26048/26048 [==============================] - 0s 11us/step - loss: 0.3186 - accuracy: 0.8507 - val_loss: 0.3236 - val_accuracy: 0.8465
Epoch 10/30
26048/26048 [==============================] - 0s 11us/step - loss: 0.3148 - accuracy: 0.8523 - val_loss: 0.3236 - val_accuracy: 0.8478
Epoch 11/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3150 - accuracy: 0.8542 - val_loss: 0.3238 - val_accuracy: 0.8477
Epoch 12/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3098 - accuracy: 0.8560 - val_loss: 0.3222 - val_accuracy: 0.8492
Epoch 13/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3072 - accuracy: 0.8563 - val_loss: 0.3177 - val_accuracy: 0.8501
Epoch 14/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3049 - accuracy: 0.8577 - val_loss: 0.3225 - val_accuracy: 0.8458
Epoch 15/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.3025 - accuracy: 0.8593 - val_loss: 0.3164 - val_accuracy: 0.8495
Epoch 16/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2993 - accuracy: 0.8612 - val_loss: 0.3235 - val_accuracy: 0.8469
Epoch 17/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2997 - accuracy: 0.8599 - val_loss: 0.3235 - val_accuracy: 0.8455
Epoch 18/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2984 - accuracy: 0.8619 - val_loss: 0.3175 - val_accuracy: 0.8503
Epoch 19/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2966 - accuracy: 0.8625 - val_loss: 0.3189 - val_accuracy: 0.8488
Epoch 20/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2935 - accuracy: 0.8624 - val_loss: 0.3196 - val_accuracy: 0.8511
Epoch 21/30
26048/26048 [==============================] - 0s 11us/step - loss: 0.2918 - accuracy: 0.8643 - val_loss: 0.3240 - val_accuracy: 0.8489
Epoch 22/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2916 - accuracy: 0.8649 - val_loss: 0.3206 - val_accuracy: 0.8498
Epoch 23/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2902 - accuracy: 0.8650 - val_loss: 0.3193 - val_accuracy: 0.8494
Epoch 24/30
26048/26048 [==============================] - 0s 11us/step - loss: 0.2883 - accuracy: 0.8654 - val_loss: 0.3202 - val_accuracy: 0.8472
Epoch 25/30
26048/26048 [==============================] - 0s 11us/step - loss: 0.2878 - accuracy: 0.8663 - val_loss: 0.3209 - val_accuracy: 0.8492
Epoch 26/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2868 - accuracy: 0.8676 - val_loss: 0.3196 - val_accuracy: 0.8526
Epoch 27/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2872 - accuracy: 0.8668 - val_loss: 0.3221 - val_accuracy: 0.8511
Epoch 28/30
26048/26048 [==============================] - 0s 10us/step - loss: 0.2836 - accuracy: 0.8687 - val_loss: 0.3292 - val_accuracy: 0.8491
Epoch 29/30
26048/26048 [==============================] - 0s 11us/step - loss: 0.2848 - accuracy: 0.8667 - val_loss: 0.3228 - val_accuracy: 0.8485
Epoch 30/30
26048/26048 [==============================] - 0s 11us/step - loss: 0.2819 - accuracy: 0.8685 - val_loss: 0.3271 - val_accuracy: 0.8488
16281/16281 [==============================] - 0s 4us/step
Test Loss and Accuracy -> [0.33274065849639134, 0.8502548933029175]

In [0]:
x_test.shape

(16281, 108)

In [0]:
# prediction for individual
x_predict_test = x_test[np.newaxis, 0, :]
y_predict_test = y_test[0]

In [0]:
y_test[0]

0

In [0]:
x_predict_test.shape

(1, 108)

In [0]:
x_predict_test

array([[0.10958904, 0.14512876, 0.4       , 0.        , 0.        ,
        0.39795918, 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ]])

In [0]:
x_test[0, :]

array([0.10958904, 0.14512876, 0.4       , 0.        , 0.        ,
       0.39795918, 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 0.        ])

In [0]:
x_test[0, :].shape

(108,)

In [0]:
result = wide_n_deep.model.predict([x_predict_test, x_predict_test])

In [0]:
print('result predicted:', result[0][0])
print('result predicted:', round(result[0][0]))
print('result real:', y_predict_test)

result predicted: 0.00029306783
result predicted: 0.0
result real: 0

In [0]:
result

array([[0.00029307]], dtype=float32)

In [0]:
# prediction for individual
x_predict_test2 = x_test[0:100, :]
y_predict_test2 = y_test[0:100]

In [0]:
results = wide_n_deep.model.predict([x_predict_test2, x_predict_test2])

In [0]:
num_predictions = 100
diff = 0
answer = ""

for i in range(num_predictions):
    val = results[i]
    # print(df.iloc[i])
    
    if ((round(val[0]) - y_predict_test2[i]) == 0):
      answer = "정답"
    else:
      answer = "오답"

    print('Num : ',i+1,' - Predicted: ', int(round(val[0])), 'Actual: ', y_predict_test2[i], '  결과 : '+answer+'\n')

Num :  1  - Predicted:  0 Actual:  0   결과 : 정답

Num :  2  - Predicted:  0 Actual:  0   결과 : 정답

Num :  3  - Predicted:  1 Actual:  1   결과 : 정답

Num :  4  - Predicted:  1 Actual:  1   결과 : 정답

Num :  5  - Predicted:  0 Actual:  0   결과 : 정답

Num :  6  - Predicted:  0 Actual:  0   결과 : 정답

Num :  7  - Predicted:  0 Actual:  0   결과 : 정답

Num :  8  - Predicted:  1 Actual:  1   결과 : 정답

Num :  9  - Predicted:  0 Actual:  0   결과 : 정답

Num :  10  - Predicted:  0 Actual:  0   결과 : 정답

Num :  11  - Predicted:  1 Actual:  1   결과 : 정답

Num :  12  - Predicted:  1 Actual:  0   결과 : 오답

Num :  13  - Predicted:  0 Actual:  0   결과 : 정답

Num :  14  - Predicted:  0 Actual:  0   결과 : 정답

Num :  15  - Predicted:  0 Actual:  1   결과 : 오답

Num :  16  - Predicted:  1 Actual:  1   결과 : 정답

Num :  17  - Predicted:  0 Actual:  0   결과 : 정답

Num :  18  - Predicted:  0 Actual:  0   결과 : 정답

Num :  19  - Predicted:  0 Actual:  0   결과 : 정답

Num :  20  - Predicted:  0 Actual:  1   결과 : 오답

Num :  21  - Predicted:  1 Actual:  1   결과 : 정답

Num :  22  - Predicted:  0 Actual:  0   결과 : 정답

Num :  23  - Predicted:  0 Actual:  0   결과 : 정답

Num :  24  - Predicted:  0 Actual:  0   결과 : 정답

Num :  25  - Predicted:  0 Actual:  0   결과 : 정답

Num :  26  - Predicted:  1 Actual:  1   결과 : 정답

Num :  27  - Predicted:  0 Actual:  0   결과 : 정답

Num :  28  - Predicted:  0 Actual:  0   결과 : 정답

Num :  29  - Predicted:  0 Actual:  0   결과 : 정답

Num :  30  - Predicted:  0 Actual:  0   결과 : 정답

Num :  31  - Predicted:  1 Actual:  1   결과 : 정답

Num :  32  - Predicted:  0 Actual:  0   결과 : 정답

Num :  33  - Predicted:  0 Actual:  0   결과 : 정답

Num :  34  - Predicted:  0 Actual:  0   결과 : 정답

Num :  35  - Predicted:  0 Actual:  0   결과 : 정답

Num :  36  - Predicted:  0 Actual:  0   결과 : 정답

Num :  37  - Predicted:  0 Actual:  1   결과 : 오답

Num :  38  - Predicted:  0 Actual:  0   결과 : 정답

Num :  39  - Predicted:  0 Actual:  0   결과 : 정답

Num :  40  - Predicted:  0 Actual:  0   결과 : 정답

Num :  41  - Predicted:  1 Actual:  1   결과 : 정답

Num :  42  - Predicted:  1 Actual:  1   결과 : 정답

Num :  43  - Predicted:  0 Actual:  0   결과 : 정답

Num :  44  - Predicted:  0 Actual:  0   결과 : 정답

Num :  45  - Predicted:  0 Actual:  0   결과 : 정답

Num :  46  - Predicted:  1 Actual:  1   결과 : 정답

Num :  47  - Predicted:  0 Actual:  0   결과 : 정답

Num :  48  - Predicted:  1 Actual:  0   결과 : 오답

Num :  49  - Predicted:  0 Actual:  0   결과 : 정답

Num :  50  - Predicted:  0 Actual:  0   결과 : 정답

Num :  51  - Predicted:  0 Actual:  0   결과 : 정답

Num :  52  - Predicted:  0 Actual:  0   결과 : 정답

Num :  53  - Predicted:  0 Actual:  0   결과 : 정답

Num :  54  - Predicted:  0 Actual:  1   결과 : 오답

Num :  55  - Predicted:  0 Actual:  0   결과 : 정답

Num :  56  - Predicted:  0 Actual:  0   결과 : 정답

Num :  57  - Predicted:  0 Actual:  0   결과 : 정답

Num :  58  - Predicted:  1 Actual:  1   결과 : 정답

Num :  59  - Predicted:  1 Actual:  1   결과 : 정답

Num :  60  - Predicted:  0 Actual:  0   결과 : 정답

Num :  61  - Predicted:  0 Actual:  0   결과 : 정답

Num :  62  - Predicted:  0 Actual:  0   결과 : 정답

Num :  63  - Predicted:  0 Actual:  0   결과 : 정답

Num :  64  - Predicted:  0 Actual:  0   결과 : 정답

Num :  65  - Predicted:  0 Actual:  0   결과 : 정답

Num :  66  - Predicted:  0 Actual:  0   결과 : 정답

Num :  67  - Predicted:  1 Actual:  1   결과 : 정답

Num :  68  - Predicted:  0 Actual:  0   결과 : 정답

Num :  69  - Predicted:  0 Actual:  0   결과 : 정답

Num :  70  - Predicted:  0 Actual:  0   결과 : 정답

Num :  71  - Predicted:  1 Actual:  1   결과 : 정답

Num :  72  - Predicted:  0 Actual:  0   결과 : 정답

Num :  73  - Predicted:  0 Actual:  0   결과 : 정답

Num :  74  - Predicted:  0 Actual:  0   결과 : 정답

Num :  75  - Predicted:  0 Actual:  0   결과 : 정답

Num :  76  - Predicted:  0 Actual:  0   결과 : 정답

Num :  77  - Predicted:  0 Actual:  0   결과 : 정답

Num :  78  - Predicted:  0 Actual:  0   결과 : 정답

Num :  79  - Predicted:  0 Actual:  0   결과 : 정답

Num :  80  - Predicted:  0 Actual:  0   결과 : 정답

Num :  81  - Predicted:  0 Actual:  0   결과 : 정답

Num :  82  - Predicted:  0 Actual:  0   결과 : 정답

Num :  83  - Predicted:  0 Actual:  0   결과 : 정답

Num :  84  - Predicted:  1 Actual:  1   결과 : 정답

Num :  85  - Predicted:  0 Actual:  0   결과 : 정답

Num :  86  - Predicted:  0 Actual:  0   결과 : 정답

Num :  87  - Predicted:  0 Actual:  0   결과 : 정답

Num :  88  - Predicted:  0 Actual:  1   결과 : 오답

Num :  89  - Predicted:  0 Actual:  0   결과 : 정답

Num :  90  - Predicted:  1 Actual:  1   결과 : 정답

Num :  91  - Predicted:  0 Actual:  0   결과 : 정답

Num :  92  - Predicted:  0 Actual:  0   결과 : 정답

Num :  93  - Predicted:  1 Actual:  1   결과 : 정답

Num :  94  - Predicted:  0 Actual:  0   결과 : 정답

Num :  95  - Predicted:  0 Actual:  0   결과 : 정답

Num :  96  - Predicted:  0 Actual:  0   결과 : 정답

Num :  97  - Predicted:  0 Actual:  0   결과 : 정답

Num :  98  - Predicted:  0 Actual:  0   결과 : 정답

Num :  99  - Predicted:  0 Actual:  1   결과 : 오답

Num :  100  - Predicted:  0 Actual:  0   결과 : 정답