<a href="https://colab.research.google.com/github/Ingenjoy/Recommendation/blob/master/Day2/DAY02_01_TFIDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
docA = 'a new car, used car, car review'
docB = 'a friend in need is a friend indeed'

In [0]:
bowA = docA.split(" ")
bowB = docB.split(" ")

In [0]:
bowB

['a', 'friend', 'in', 'need', 'is', 'a', 'friend', 'indeed']

In [0]:
wordSet = set(bowA).union(set(bowB))

In [0]:
wordSet

{'a',
 'car',
 'car,',
 'friend',
 'in',
 'indeed',
 'is',
 'need',
 'new',
 'review',
 'used'}

In [0]:
wordDictA = dict.fromkeys(wordSet, 0) 
wordDictB = dict.fromkeys(wordSet, 0)

In [0]:
wordDictA

{'a': 0,
 'car': 0,
 'car,': 0,
 'friend': 0,
 'in': 0,
 'indeed': 0,
 'is': 0,
 'need': 0,
 'new': 0,
 'review': 0,
 'used': 0}

In [0]:
for word in bowA:
    wordDictA[word]+=1
    
for word in bowB:
    wordDictB[word]+=1

In [0]:
wordDictA

{'a': 1,
 'car': 1,
 'car,': 2,
 'friend': 0,
 'in': 0,
 'indeed': 0,
 'is': 0,
 'need': 0,
 'new': 1,
 'review': 1,
 'used': 1}

In [0]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   a  car  car,  friend  in  indeed  is  need  new  review  used
0  1    1     2       0   0       0   0     0    1       1     1
1  2    0     0       2   1       1   1     1    0       0     0

In [0]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [0]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [0]:
tfBowA

{'The': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'bed': 0.0,
 'dog': 0.0,
 'my': 0.16666666666666666,
 'face': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'on': 0.16666666666666666}

In [0]:
tfBowB

{'The': 0.16666666666666666,
 'cat': 0.0,
 'bed': 0.16666666666666666,
 'dog': 0.16666666666666666,
 'my': 0.16666666666666666,
 'face': 0.0,
 'sat': 0.16666666666666666,
 'on': 0.16666666666666666}

In [0]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [0]:
idfs = computeIDF([wordDictA, wordDictB])

In [0]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [0]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [0]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

NameError: ignored

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
corpus = [
    'a new car, used car, car review',
    'a friend in need is a friend indeed'
]
vector = CountVectorizer()
print(vector.fit_transform(corpus).toarray()) # 코퍼스로부터 각 단어의 빈도 수를 기록한다.
print(vector.vocabulary_) # 각 단어의 인덱스가 어떻게 부여되었는지를 보여준다.

[[3 0 0 0 0 0 1 1 1]
 [0 2 1 1 1 1 0 0 0]]
{'new': 6, 'car': 0, 'used': 8, 'review': 7, 'friend': 1, 'in': 2, 'need': 5, 'is': 4, 'indeed': 3}

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [
    'a new car, used car, car review',
    'a friend in need is a friend indeed'    
]
tfidfv = TfidfVectorizer().fit(corpus)
print(tfidfv.transform(corpus).toarray())
print(tfidfv.vocabulary_)

[[0.8660254  0.         0.         0.         0.         0.
  0.28867513 0.28867513 0.28867513]
 [0.         0.70710678 0.35355339 0.35355339 0.35355339 0.35355339
  0.         0.         0.        ]]
{'new': 6, 'car': 0, 'used': 8, 'review': 7, 'friend': 1, 'in': 2, 'need': 5, 'is': 4, 'indeed': 3}

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
 
mydoclist = [
'a new car, used car, car review',
    'a friend in need is a friend indeed'        
    
]

# mydoclist = ['find what you love', 'do what you love', "don't do what you hate"]
 
 
tfidf_vectorizer = TfidfVectorizer(min_df=1)
tfidf_matrix = tfidf_vectorizer.fit_transform(mydoclist)

print(tfidf_matrix)
 
document_distances = (tfidf_matrix * tfidf_matrix.T)
 
print ('유사도 분석을 위한 ' + str(document_distances.get_shape()[0]) + 'x' + str(document_distances.get_shape()[1]) + ' matrix를 만들었습니다.')
 
print(document_distances.toarray())

  (0, 6)	0.28867513459481287
  (0, 0)	0.8660254037844386
  (0, 8)	0.28867513459481287
  (0, 7)	0.28867513459481287
  (1, 1)	0.7071067811865476
  (1, 2)	0.3535533905932738
  (1, 5)	0.3535533905932738
  (1, 4)	0.3535533905932738
  (1, 3)	0.3535533905932738
유사도 분석을 위한 2x2 matrix를 만들었습니다.
[[1. 0.]
 [0. 1.]]

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
from collections import defaultdict

corpus = [
'a new car, used car, car review',
    'a friend in need is a friend indeed'        
    
]

# ============================================
# -- Get TFIDF
# ============================================
vectorizer = TfidfVectorizer()
sp_matrix = vectorizer.fit_transform(corpus)

word2id = defaultdict(lambda : 0)
for idx, feature in enumerate(vectorizer.get_feature_names()):
    word2id[feature] = idx

for i, sent in enumerate(corpus):
    print('====== document[%d] ======' % i)
    print( [ (token, sp_matrix[i, word2id[token]]) for token in sent.split() ] )

====== document[0] ======
[('a', 0.8660254037844386), ('new', 0.28867513459481287), ('car,', 0.8660254037844386), ('used', 0.28867513459481287), ('car,', 0.8660254037844386), ('car', 0.8660254037844386), ('review', 0.28867513459481287)]
====== document[1] ======
[('a', 0.0), ('friend', 0.7071067811865476), ('in', 0.3535533905932738), ('need', 0.3535533905932738), ('is', 0.3535533905932738), ('a', 0.0), ('friend', 0.7071067811865476), ('indeed', 0.3535533905932738)]

In [0]:
corpus = [
    'a new car, used car, car review',
    'a friend in need is a friend indeed'        
]

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [0]:
tfidv = TfidfVectorizer().fit(corpus)
tfidv.transform(corpus).toarray()

array([[0.8660254 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.28867513, 0.28867513, 0.28867513],
       [0.        , 0.70710678, 0.35355339, 0.35355339, 0.35355339,
        0.35355339, 0.        , 0.        , 0.        ]])

In [0]:
docA = "a new car, used car, car review"
docB = "a friend in need is a friend indeed"

In [0]:
bowA = docA.replace(",","").split(" ")
bowB = docB.replace(",","").split(" ")

In [0]:
print(bowA)
print(bowB)

['a', 'new', 'car', 'used', 'car', 'car', 'review']
['a', 'friend', 'in', 'need', 'is', 'a', 'friend', 'indeed']

In [0]:
wordSet = set(bowA).union(set(bowB))

In [0]:
wordSet

{'a', 'car', 'friend', 'in', 'indeed', 'is', 'need', 'new', 'review', 'used'}

In [0]:
wordDictA = dict.fromkeys(wordSet,0)
wordDictB = dict.fromkeys(wordSet,0)

In [0]:
wordDictA

{'a': 0,
 'car': 0,
 'friend': 0,
 'in': 0,
 'indeed': 0,
 'is': 0,
 'need': 0,
 'new': 0,
 'review': 0,
 'used': 0}

In [0]:
for word in bowA:
  wordDictA[word]+=1

for word in bowB:
  wordDictB[word]+=1

In [0]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   a  is  indeed  friend  need  in  review  new  used  car
0  1   0       0       0     0   0       1    1     1    3
1  2   1       1       2     1   1       0    0     0    0

In [0]:
def computeTF(wordDict, bow):
  tfDict = {}
  bowCount = len(bow)
  for word, count in wordDict.items():
    tfDict[word] = count / float(bowCount)
  return tfDict

In [0]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [0]:
tfBowA

{'a': 0.14285714285714285,
 'car': 0.42857142857142855,
 'friend': 0.0,
 'in': 0.0,
 'indeed': 0.0,
 'is': 0.0,
 'need': 0.0,
 'new': 0.14285714285714285,
 'review': 0.14285714285714285,
 'used': 0.14285714285714285}

In [0]:
def computeIDF(docList):
  import math
  idfDict = {}
  N = len(docList)

  idfDict = dict.fromkeys(docList[0].keys(),0)

  for doc in docList:
    for word, val in doc.items():
      if val > 0:
        idfDict[word] += 1

  for word, val in idfDict.items():
    idfDict[word] = math.log10(N / float(val))

  return idfDict

In [0]:
idfs = computeIDF([wordDictA, wordDictB])

In [0]:
idfs

{'a': 0.0,
 'car': 0.3010299956639812,
 'friend': 0.3010299956639812,
 'in': 0.3010299956639812,
 'indeed': 0.3010299956639812,
 'is': 0.3010299956639812,
 'need': 0.3010299956639812,
 'new': 0.3010299956639812,
 'review': 0.3010299956639812,
 'used': 0.3010299956639812}

In [0]:
def computeTFIDF(tfBow, idfs):
  tfidf = {}
  for word, val in tfBow.items():
    tfidf[word] = val * idfs[word]
  return tfidf

In [0]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [0]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

     a        is    indeed    friend  ...    review       new      used       car
0  0.0  0.000000  0.000000  0.000000  ...  0.043004  0.043004  0.043004  0.129013
1  0.0  0.037629  0.037629  0.075257  ...  0.000000  0.000000  0.000000  0.000000

[2 rows x 10 columns]